<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<!--<add key="factory" value="System.Data.SqlClient"/>-->
		<add key="factory" value="System.Data.OleDb"/>
		<add  key="departments" value="SELECT Id, Building, DepartName FROM Departments"/>
	</appSettings>

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=206-13\MSSQLSERVER99;Initial Catalog=practice;Trusted_Connection=yes;" />
		<!--<add name="DefaultConnection"
			 connectionString="Provider=SQLOLEDB;Data Source=206-13\MSSQLSERVER99;Initial Catalog=practice;Trusted_Connection=yes;" />-->
	</connectionStrings>
	
	
</configuration>